 <!-- App css -->
 <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
 <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
 <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
<style>
  @media (min-width: 1200px) {
    body[data-sidebar-size="collapsed"] .startbar:not(:hover) .startbar-menu .navbar-nav .nav-item .nav-link .menu-title { display: none !important; }
    body[data-sidebar-size="collapsed"] .startbar:not(:hover) .startbar-menu .navbar-nav .nav-item .nav-link .menu-icon { display: inline-flex !important; margin-right: 0; }
    body[data-sidebar-size="collapsed"] .startbar:not(:hover) .startbar-menu .navbar-nav .nav-item .nav-link { justify-content: center; }
  }
</style>
