<div class="startbar d-print-none">
  <!--start brand-->
  <div class="brand">
    <a href="index.html" class="logo">
      <span>
        <img src="assets/images/logo.png" alt="logo-small" class="logo-sm" />
      </span>
      <span class="">
        <img
          src="assets/images/logo.png"
          alt="logo-large"
          class="logo-lg logo-light"
        />
        <img
          src="assets/images/logo.png"
          alt="logo-large"
          class="logo-lg logo-dark"
        />
      </span>
    </a>
  </div>
  <!--end brand-->
  <!--start startbar-menu-->
  <div class="startbar-menu">
    <div class="startbar-collapse" id="startbarCollapse" data-simplebar>
      <div class="d-flex align-items-start flex-column w-100">
        <!-- Navigation -->
        <ul class="navbar-nav mb-auto w-100">
          <li class="menu-label">Main</li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="../index.html">
              <span class="menu-icon"
                ><i class="iconoir-dashboard-dots"></i
              ></span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="menu-label mt-3">Users</li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="../users.html">
              <span class="menu-icon"><i class="las la-users"></i></span>
              <span class="menu-title">All Users</span>
            </a>
          </li>

          <li class="menu-label mt-3">Apps</li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="../apps-calendar.html">
              <span class="menu-icon"><i class="iconoir-calendar"></i></span>
              <span class="menu-title">Calendar</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="../apps-chat.html">
              <span class="menu-icon"><i class="iconoir-chat-bubble"></i></span>
              <span class="menu-title">Chat</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link menu-link" href="../auth-login.html">
              <span class="menu-icon"><i class="iconoir-lock"></i></span>
              <span class="menu-title">Authentication</span>
            </a>
          </li>
          <!-- End additional navigation -->
        </ul>
      </div>
    </div>
  </div>
  <!--end startbar-menu-->
</div>
